@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --main: #FFFFFF;
    --acent: #C2020D;
    --bg-second: #FF5E69;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    outline: 0;
    outline-offset: 0;

    pointer-events: none;
    /* visibility: hidden; */

}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(270deg, #FF3A51 0%, #FE7776 90.83%);
}

.navbar {
    /* padding-top: 5px;
    padding-bottom: 0; */
    padding: 0;
}

.line {
    width: 128px;
    height: 6px;
    background-color: var(--main);
    margin: auto;
}

.logo-wrap {
    width: 322px;
    height: 139px;
    background-color: var(--bg-second);
    padding-left: 0;
    padding-right: 44px;
    margin-top: 5px;
}

.logo {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: var(--main);
    margin-left: 19px;
}

.logo-acent {
    font-style: normal;
    font-weight: 400;
    color: var(--acent);
}

.navigation {
    margin-left: 557px;
}

.navbar .nav-link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--main) !important;
}

.nav-item {
    margin-right: 50px;
}

.nav-item:last-child {
    margin-right: 0;
}

.navbar-toggler {
    margin: 20px;
}

.corner {
    width: 180px;
    height: 139px;
    background-color: var(--bg-second);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.corner-bottom {
    top: 87%;
    left: 91.7%;
}

.corner-line {
    width: 75.63px;
    height: 8px;
    background-color: var(--main);
    margin-bottom: 4px;
    border-radius: 10px;
}

.carousel-inner {
    height: 970px;
}

.carousel-item-img {
    position: absolute;
}

.text-wrap {
    right: 20px;
    margin-top: 177px;
}

.carousel-item-title {
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 155px;
    align-items: center;
    color: var(--main);
    margin-bottom: 19px;
}

.carousel-item-text {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: var(--main);
    margin-bottom: 227px;
}

.carousel-indicators {
    position: absolute;
    top: 229px;
    margin-left: 43px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--main);
    margin-bottom: 35px;
}

.shop-btn {
    padding: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: var(--main);
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid var(--main);
    margin-right: 103px;
}

.socials {
    list-style: none;
    font-size: 40px;
    margin: auto;
}

.social-icon {
    color: var(--main);
}

.social {
    margin-right: 103px;
}

.social:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1500px) {

    .navigation {
        margin-left: 5%;
    }

    .text-wrap {
        margin-left: 30%;
    }

}

@media screen and (max-width: 1400px) {

    .carousel-inner {
        height: 800px;
    }

}

@media screen and (max-width: 1000px) {

    .corner {
        display: none;
    }

    .navigation {
        margin-left: auto;
    }

    .text-wrap {
        margin-top: 80px;
        margin-left: 15%;
    }

    .carousel-item-text {
        margin-bottom: 50px;
    }

    .social {
        margin-right: 20px;
    }

    .carousel-inner {
        height: 600px;
    }

    .carousel-indicators {
        top: 100px;
    }
}

@media screen and (max-width: 900px) {

    .carousel-inner {
        height: 500px;
    }

    .carousel-item-title {
        font-size: 90px;
    }

}

@media screen and (max-width: 800px) {

    .carousel-indicators {
        top: 30px;
    }
}

@media screen and (max-width: 600px) {

    .carousel-item-title {
        font-size: 60px;
        margin-bottom: 0;
    }

    .carousel-item-text {
        width: 300px;
    }

    .navbar-collapse {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {

    .carousel-inner {
        height: 600px;
    }

    .social {
        margin-top: 20px;
    }

}

@media screen and (max-width: 400px) {

    .carousel-item-title {
        font-size: 40px;
    }

    .carousel-item-text {
        width: 250px;
    }

    .shop-btn {
        max-width: 200px;
    }
}